<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Title -->
    <title>Netflix Dashboard </title>
    <!-- External CSS Files -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/light-bootstrap-dashboard.css?v=2.0.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
    <style>
        /* Style for form */
        form {

            margin-bottom: 20px;
            margin-left: 200px;
        }

        select {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
            width: 200px;
            margin-right: 10px;
        }

        button {
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #eb0c0c;
        }

        /* Style for result section */
        .result {
            margin-top: 20px;
        }

        .result h2 {
            color: #007bff;
        }

        .nav-item :active {
            background-color: rgb(244, 244, 244);
            color: rgb(153, 18, 18);
        }

        .nav-link {
            transition: background-color 0.3s ease;
        }

        /* Original button color */
        #toggleButton {
            background-color: #d30808bd;
            /* Blue */
            color: white;
            position: absolute;
            bottom: 2px;
            /* Adjust bottom padding as needed */

        }
        .table th {
            font-weight: bold;
            color: #ffffff; /* Bright color for the text */
            background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent background */
            text-align: center;
        }




        /* Toggled button color */
        #toggleButton.toggled {
            background-color: #265179ec;
            /* Green */
            color: white;
        }

        .container.div {
            position: absolute;
            /* or relative, fixed, sticky */
            width: 200px;
            height: 200px;
            background-color: lightblue;
        }
        body {
            transform: scale(1.0);
            transform-origin: 0 0;
            background-image: url('{{ url_for('static', filename='img/5.jpg') }}');
        }
    </style>
</head>

<body>
    <!-- Main wrapper -->
    <div class="wrapper">
        
        <!-- Sidebar -->
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg" data-color="red">
            <!-- Sidebar content -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        Netflix Analytics
                    </a>

                    
                </div>
                <!-- Sidebar navigation -->
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Home</p>

                        </a>
                    </li>
                    <li id="recommendations-link"> <!-- Added id attribute -->
                        <a class="nav-link" href="recom">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Recommendations</p>
                        </a>
                    </li>

                    <li class="nav-item active"> <!-- Added id attribute -->
                        <a class="nav-link" >
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Predictions</p>
                        </a>
                    </li>
                  

                    <br><br>
                    <li class="nav-item active">

                        <a href="#chart3"><button id="toggleButton" class="nav-link" style="margin-left: 50px;">Show CSV
                                Data</button></a>
                    </li>






                    <!-- Other sidebar items -->
                </ul>




            </div>
        </div>
        <!-- Main panel -->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo">Analytics </a>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="predic">
                                
                                <h2>IMDb</h2>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="genre">
                                
                                <h2>Genre</h2>
                            </a>
                        </li>
                    </ul>
                    
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-bar burger-lines">SD</span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                
                    <!-- Navbar content -->
                     
                </div>
            </nav>
            <!-- Page content -->


            <div class="row">
                <div class="col-md-6">
                    <!-- Left column with prediction form -->
                    <div class="container" style="background-color: rgba(255, 255, 255, 0.6);">
                        <h1>IMDB Score Prediction</h1>
                        <form method="post">
                            <label for="genre">Select Genre:</label>
                            <select id="genre" name="genre">
                                {% for genre in genres %}
                                <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}
                            </select>
                            
                            <label for="month">Select Month:</label>
                            <select id="month" name="month">
                                {% for month in months %}
                                <option value="{{ month }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                            
                            <label for="runtime">Enter Runtime (minutes):</label>
                            <input type="number" id="runtime" name="runtime" min="1" required>
                    
                            <label for="model">Select Model:</label>
                            
                            <select id="model" name="model">
                                <option value="rf" {% if selected_model == 'rf' %}selected{% endif %}>Random Forest</option>
                                <option value="gb" {% if selected_model == 'gb' %}selected{% endif %}>Gradient Boosting</option>
                                <option value="svr" {% if selected_model == 'svr' %}selected{% endif %}>SVR</option>
                                <option value="ensemble" {% if selected_model == 'ensemble' %}selected{% endif %}>Ensemble</option>
                                <option value="all" {% if selected_model == 'all' %}selected{% endif %}>All Models</option>
                            </select>
                            
                            <button type="submit">Predict</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6" >
                    <!-- Right column with prediction results -->
                    {% if predicted_score is not none %}
                    <div class="container" style="background-color: rgba(255, 255, 255, 0.6);">
                        <h1>Prediction Result:</h1>
                        {% if rmse is not none and mae is not none %}
                        <p><b>Model:</b>
                            {% if selected_model == 'rf' %}
                            Random Forest
                            {% elif selected_model == 'gb' %}
                            Gradient Boosting
                            {% elif selected_model == 'svr' %}
                            SVR
                            {% elif selected_model == 'ensemble' %}
                            Ensemble
                            {% elif selected_model == 'all' %}
                            All Models
                           
                            {% endif %}
                        </p>
                        <p><b>Predicted IMDb Score:</b> {{ predicted_score }}</p>                        
                        <p><b>RMSE:</b> {{ rmse }}</p>
                        <p><b>MAE:</b> {{ mae }}</p>
                        {% endif %}
                        
                        {% if selected_model == 'all' %}
                        <h2>Prediction Results for All Models:</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Predicted IMDb Score</th>
                                    <th>RMSE</th>
                                    <th>MAE</th>
                                    <!-- Add RMSE and MAE columns if needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in results %}
                                <tr>
                                    <td>
                                        {% if result[0] == 'rf' %}
                                        Random Forest
                                        {% elif result[0] == 'gb' %}
                                        Gradient Boosting
                                        {% elif result[0] == 'svr' %}
                                        SVR
                                        {% elif result[0] == 'ensemble' %}
                                        Ensemble
                                        {% endif %}
                                    </td>
                                    <td>{{ result[3] }}</td>
                                    <td>{{ result[2] }}</td> <!-- RMSE value -->
                                    <td>{{ result[1] }}</td> <!-- MAE value -->
                                    <!-- Add RMSE and MAE cells here if needed -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            


            
                 
            

            <div id="chart3" style="display: none;background-color: rgba(255, 255, 255, 0.8);">
                <div class="card3">
                    <div class="card-header">
                        <h4 class="card-title">CSV Data</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Title</th>
                                        <th>Genre</th>
                                        <th>Premiere</th>
                                        <th>Runtime</th>
                                        <th>IMDB Score</th>
                                        <th>Language</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for index, row in csv_data.iterrows() %}
                                    <tr>
                                        <td>{{ row['Title'] }}</td>
                                        <td>{{ row['Genre'] }}</td>
                                        <td>{{ row['Premiere'] }}</td>
                                        <td>{{ row['Runtime'] }}</td>
                                        <td>{{ row['IMDB Score'] }}</td>
                                        <td>{{ row['Language'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Footer -->

        </div>
    </div>
    <!-- Bootstrap and custom JS files -->
    <script>

        // Toggle CSV data display
        document.getElementById('toggleButton').addEventListener('click', function () {
            const chartDiv = document.getElementById('chart3');
            const toggleButton = document.getElementById('toggleButton');
            if (chartDiv.style.display === 'none') {
                chartDiv.style.display = 'block';
                toggleButton.classList.add('active');
            } else {
                chartDiv.style.display = 'none';
                toggleButton.classList.remove('active');
            }
        });
    </script>
    <script>
        document.getElementById('toggleButton').addEventListener('click', function () {
            this.classList.toggle('toggled');
        });
    </script>
            
    <!-- End of HTML document -->
</body>

</html>